{% extends 'app/base.html' %}
{% block title %} <title>Criar</title> {% endblock %}
{% block content %}
<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Criar</h1>
  </div>
  <div class="mt-4 mb-4">
    <form id="myForm" action="{% url 'criar' %}" method="post">
      {% csrf_token %}
      <div class="row g-3 align-items-center">
        <div class="col-auto">
          <div class="input-group mb-3">
            <span class="input-group-text"><i class="bi bi-person-plus"></i></button></span>
            <input type="text" required name="nome" class="form-control" placeholder="Nome completo" size="50">
          </div>
          <div class="input-group mb-3">
            <span class="input-group-text"><i class="bi bi-calendar2-date"></i></button></span>
            <span class="input-group-text">Data de Nascimento</span>
            <input type="date" class="form-control" required name="nascimento" placeholder="00/00/000" size="50">
          </div>
          <div class="input-group mb-3">
            <span class="input-group-text"><i class="bi bi-envelope"></i></button></span>
            <input type="email" required name="email" class="form-control" placeholder="exemplo@exemplo.com" size="50">
          </div>
          <div class="input-group mb-3">
            <span class="input-group-text"><i class="bi bi-globe-americas"></i></button></span>
            <input type="text" required name="pais" class="form-control" placeholder="País que deseja trabalhar?"
              size="50" aria-describedby="button-addon2">
            <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Salvar</button>
          </div>
        </div>
      </div>
    </form>
  </div>
  {% if nome %}
  <div id="myModal" class="modals modal">
    <div class="modal-contents modal-content">

      <p>O usuário(a) <b>{{nome}}</b> foi cadastrado(a) com sucesso! </p>
      <p>Deseja realizar um novo cadastro?</p>
      <a class="close btn btn-outline-primary mb-2">Sim</a>
      <a href="{% url 'index' %}" class="btn btn-outline-secondary">Não</a>
    </div>
  </div>

  <script>
    // Fechar a modal quando o botão de fechar é clicado
    document.querySelector('.close').addEventListener('click', function () {
      document.getElementById('myModal').style.display = 'none';
    });
  </script>
  {% endif %}




</main>
{% endblock %}